.add-btn-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  width: fit-content;
  border: 1px solid transparent; /* To avoid shifting on hover */
  margin: 0.5rem 0;
}

.add-btn-wrapper:hover {
  /* background-color: rgb(238, 255, 229); */
  /* border: 1px solid rgb(80, 80, 80); */
  cursor: pointer;
  color: rgb(157, 49, 49);
}

.add-btn-wrapper:hover > .add-btn {
  /* transform: scale(0.95); */
  filter: brightness(120%);
}

.add-btn {
  padding: 0;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-btn > img {
  width: 40px;
}

.add-btn > img:hover {
  cursor: pointer;
}
