.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.delete-btn:hover {
  cursor: pointer;
  filter: brightness(130%);
}

.delete-btn > img {
  width: 20px;
}
