.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
}

.delete-btn:hover {
  cursor: pointer;
  /* filter: brightness(130%); */
  filter: brightness(80%);
  transform: scale(0.9);
}

.delete-btn > img {
  width: 20px;
}

.top-right-positioning {
  position: absolute;
  top: 7px;
  right: 7px;
}
