.contact-icon {
  width: 20px;
}

.contact-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 0.5rem;
}

.contact-item__subcontainer {
  display: flex;
  flex-direction: column;
}

.previewer-contact > ul {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
