.textarea-wrapper {
  display: flex;
  flex-direction: column;
  grid-column: 1 / 3;
}

.textarea-wrapper > label {
  color: var(--color-labels);
}

.textarea-wrapper > textarea {
  border: none;
  border-radius: 3px;
  resize: none;
  height: 75px;
  padding: 0.25rem;
}

.background-grey {
  background-color: var(--color-input-background-grey);
}

.background-white {
  background-color: var(--color-input-background-white);
}

@media only screen and (max-width: 450px) {
  .textarea-wrapper {
    grid-column: 1 / 2;
  }
}
