.textarea-wrapper {
  display: flex;
  flex-direction: column;
}

.textarea-wrapper > label {
  color: var(--color-labels);
}

.textarea-wrapper > textarea {
  background-color: var(--color-cards);
  border: none;
  border-radius: 3px;
  resize: none;
}
