.input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-wrapper > label {
  color: var(--color-labels);
}

.input-wrapper > input {
  background-color: var(--color-cards);
  border: none;
  border-radius: 3px;
}
