.app-header {
  font-size: 2.5rem;
  font-family: "Outfit", sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 350px) {
  .app-header {
    font-size: 12vw;
  }
}
